NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=CHANGE_ME_WITH_AT_LEAST_32_RANDOM_BYTES
KEYCLOAK_ID=teman-belajar-admin
KEYCLOAK_SECRET=CHANGE_ME_ADMIN_CLIENT_SECRET
KEYCLOAK_ISSUER=http://keycloak.teman-belajar.localhost:8081/realms/teman-belajar
PORTAL_API_INTERNAL_URL=http://localhost:8080
