NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=local_development_secret_only
KEYCLOAK_ID=teman-belajar-web
KEYCLOAK_SECRET=change_me_web_secret
KEYCLOAK_ISSUER=http://localhost:8081/realms/teman-belajar
PORTAL_API_INTERNAL_URL=http://localhost:8080
